body {
  background-color: #282828;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 1px solid #757575;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
