body {
  min-width: 320px;
  background-color: #282828;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
  padding: 15px 19px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media (min-width: $tablet-width) {
  input[type="tel"],
  input[type="email"] {
    padding-right: 60px;
  }
}
