$main-text-color: #283645;
$main-description-color: #d22856;
$link-text-color: #d22856;
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-tablet-width: 959px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
