.add-photos {
  background-color: #f2f2f2;
}

.add-photos__description-wrapper {
  padding-top: 40px;
  padding-bottom: 43px;
  background-color: #ffffff;
}

.add-photos__description {
  margin: 0;
  padding-right: 5px;
  padding-top: 1px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-text-color;
  box-sizing: border-box;
}

.add-photos__img-wrapper {
  padding-top: 20px;
  font-size: 0;
  text-align: center;
}

.add-photos__form-wrapper {
  padding-top: 42px;
  padding-bottom: 40px;
}

.add-photos__list {
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 0;
  text-align: center;
}

.add-photos__item {
  display: inline-block;
  position: relative;
  margin-left: 33px;
}

.add-photos__icon-wrapper {
  width: 48px;
  height: 70px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.add-photos__range {
  display: none;
}

.add-photos__item--active > .add-photos__range {
  width: 240px;
  position: absolute;
  left: -20px;
}

.add-photos__buttons {
  padding-top: 38px;
  border-top: 1px solid #dddfe0;
}

.add-photos__svg {
  fill: #b5b9be;

  &:hover {
    fill: #8d949b;
  }
}

.add-photos__svg--active {
  fill: #d22856;
}

@media (min-width: $tablet-width) {
  .add-photos__description-wrapper {
    padding-top: 45px;
    padding-bottom: 67px;
  }

  .add-photos__description {
    font-size: 18px;
  }

  .add-photos__container {
    padding-top: 57px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: row;
  }

  .add-photos__img-wrapper {
    margin: 0;
    padding-top: 0;
    width: 300px;
  }

  .add-photos__form-wrapper {
    margin: 0;
    margin-left: 20px;
    padding-top: 0;
    padding-bottom: 44px;
    width: 300px;
  }

  .add-photos__img {
    width: 100%;
  }

  .add-photos__list {
    flex-direction: column;
  }

  .add-photos__item {
    margin-left: 0;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 17px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #dddfe0;
    box-sizing: border-box;
  }

  .add-photos__item:first-child {
    margin-top: 0;
  }

  .add-photos__icon-wrapper {
    width: 22px;
    height: 22px;
    margin-left: 28px;
    padding-bottom: 0;
  }

  .add-photos__buttons {
    padding-left: 27px;
    padding-right: 13px;
    padding-top: 18px;
    border: none;
  }

  .add-photos__svg {
    fill: #d22856;
  }

  .add-photos__fill {
    width: 24px;
    height: 22px;
  }

  .add-photos__contrast {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .add-photos {
    background-color: #ffffff;
    padding-bottom: 29px;
  }

  .add-photos__container {
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding-bottom: 17px;
    padding-top: 53px;
  }

  .add-photos__img-wrapper {
    padding-left: 80px;
    padding-top: 3px;
  }

  .add-photos__description-wrapper {
    padding-top: 16px;
    padding-bottom: 66px;
  }

  .add-photos__description {
    margin-left: 0;
    padding-right: 0;
  }

  .add-photos__form-wrapper {
    width: 425px;
    margin-left: 75px;
    padding-bottom: 40px;
  }

  .add-photos__list {
    padding-left: 0;
    padding-bottom: 0;
  }

  .add-photos__item {
    padding-top: 0;
    padding-bottom: 11px;
    padding-right: 10px;
    margin-top: 12px;
  }

  .add-photos__icon-wrapper {
    width: 75px;
    height: 48px;
    margin-left: 0;
  }

  .add-photos__buttons {
    padding-left: 15px;
    padding-right: 0;
    padding-top: 0;
    margin-top: 145px;
    display: flex;
    justify-content: flex-start;
  }

  .link--add-photos {
    margin: 0;
  }

  .add-photos__crop {
    width: 48px;
    height: 48px;
  }

  .add-photos__fill {
    width: 50px;
    height: 47px;
  }

  .add-photos__contrast {
    width: 50px;
    height: 32px;
  }
}
