.applets__wrapper {
  padding-top: 396px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 110px;
  box-sizing: border-box;
}

.applets__title {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;

  &--hidden {
    display: none;
  }
}

.applets__content {
  background-color: $main-text-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.applets__link-wrapper {
  text-align: center;
  box-sizing: border-box;
}

.applets__link {
  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.applets__list {
  padding: 30px 20px 20px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 0;
  box-sizing: border-box;
}

.applets__item {
  display: flex;
  list-style-type: none;
}

.applets__text {
  margin: 0;
  padding-top: 3px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .applets__wrapper {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: row;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px 100%;
    //background-size: 360px 425px;
    background-color: transparent;
  }

  .applets__content {
    width: 340px;
    min-height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }

  .applets__link-wrapper {
    margin-bottom: 15px;
  }

  .applets__list,
  .applets__text {
    padding: 0;
  }

  .applets__list {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-around;
  }

  .applets__item {
    min-height: 57px;
    align-items: center;
  }


  .applets__title {
    width: 250px;
    margin: 0 auto;
    line-height: 48px;
    letter-spacing: -0.5px;

    &--hidden {
      display: block;
    }
  }

  .applets__text {
    font-size: 18px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: -0.4px;
  }
}

@media (min-width: $desktop-width) {
  .applets__wrapper {
    width: 960px;
    margin: 0 auto;
    padding-top: 109px;
    padding-right: 10px;
    padding-bottom: 120px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 25px 100%;
  }

  .applets__title {
    padding: 0 20px;
    width: auto;
    font-size: 50px;
    line-height: 60px;
    font-weight: lighter;
  }

  .applets__content {
    width: 320px;
    min-height: 515px;
    padding: 0;
  }

  .applets__list {
    padding-left: 55px;
    padding-right: 59px;
    justify-content: space-between;
  }
}
