.area {
  background-color: #ffffff;
}

.area__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 31px 20px 49px 20px;
  box-sizing: border-box;
}

.area__description {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: $main-description-color;
}

.form__textarea-wrapper {
  text-align: center;
  margin-top: 10px;
  font-size: 0;
}

.area__area {
  width: 100%;
  height: 201px;
  padding: 15px 20px 20px 20px;
  font-size: 18px;
  line-height: 30px;
  resize: none;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .area {
    margin-top: 66px;
  }

  .area__wrapper {
    width: 660px;
    padding-top: 0;
    position: relative;
  }

  .area__description {
    position: absolute;
    left: 31%;
    width: 250px;
    right: 0;
    top: -15px;
    background-color: #ffffff;
  }

  .form__textarea-wrapper {
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 51px;
    border: 2px solid #e5e5e5;
  }

  .area__area {
    width: 81%;
    height: 192px;
    padding: 13px 20px 20px 18px;
    border: 2px solid #e5e5e5;
  }
}

@media (min-width: $desktop-width) {
  .area {
    margin-top: 65px;
  }

  .area__wrapper {
    width: 940px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .area__description {
    left: 36.6%;
    top: -14px;
    width: 250px;
  }

  .form__textarea-wrapper {
    padding-top: 42px;
    padding-bottom: 44px;
  }

  .area__area {
    height: 127px;
    width: 820px;
    padding-top: 14px;
  }
}
