.area {
  background-color: #ffffff;
}

.area__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

.area__description {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: $main-description-color;
}

.form__textarea-wrapper {
  text-align: center;
}

.area__area {
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .area__wrapper {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .area__wrapper {
    width: 960px;
  }
}
