.contacts {
  background-color: #ffffff;
}

.contacts__wrapper {
  padding-top: 42px;
  padding-bottom: 40px;
}

.contacts__title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: lighter;
  letter-spacing: -0.5px;
  text-align: center;
  color: $main-text-color;
}

.contacts__contact-wrapper {
  padding-top: 33px;
  font-size: 0;
}

.contacts__address-wrapper {
  letter-spacing: -0.3px;
  margin-bottom: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.contacts__text {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.contacts__box {
  margin: 0;
  text-align: center;
}

.contacts__box-item {
  font-size: 24px;
  text-decoration: none;
  color: #d22856;

  &:hover {
    color: $main-text-color;
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding-bottom: 30px;
  }

  .contacts__title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.5px;
  }

  .contacts__contact-wrapper {
    padding-top: 41px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__address-wrapper {
    margin: 0;
    flex-basis: 300px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .contacts__come {
    flex-grow: 1;
    padding-top: 48px;
  }

  .contacts__box {
    padding-top: 7px;
  }

  .contacts__box-item {
    display: inline-block;
    width: 250px;
    padding-top: 0;
    font-size: 24px;
    line-height: 27px;
    font-weight: lighter;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    padding-top: 63px;
    padding-bottom: 25px;
  }

  .contacts__title {
    margin-left: 0;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;
  }

  .contacts__contact-wrapper {
    padding-top: 56px;
    flex-wrap: nowrap;
  }

  .contacts__come {
    padding-top: 0;
    padding-left: 8px;
    order: 2;
    letter-spacing: -0.3px;
  }

  .contacts__call {
    padding-left: 8px;
    order: 1;
  }

  .contacts__write {
    padding-left: 8px;
    order: 3;
  }

  .contacts__box {
    padding-top: 23px;
  }
}
