.cost__wrapper {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #f2f2f2;
}
.table {
  margin-left: -540px;
  border-collapse: collapse;
}

.table__title {
  min-width: 280px;
  height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #283645;
}

.table__title-text {
  display: block;
}

.table__title-costs {
  display: block;
  font-weight: normal;
}

 .table__column {
  height: 59px;
  text-align: center;
  vertical-align: center;
  background-color: #ffffff;

  &--show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.table__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: magenta;
}

.cost__toggles {
  margin: 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .cost__wrapper {
    padding-top: 85px;
    padding-bottom: 68px;
    width: 660px;
  }

  .table {
    margin: 0 auto;
  }

  .table__title {
    min-width: 150px;

    &--hidden {
      opacity: 0;
    }
  }

  .table__column {
    height: 45px;

    &--show {
      justify-content: center;
    }
  }

  .table__column:first-child {
    padding-left: 15px;
    text-align: left;
  }

  .table__text {
    display: none;
  }

  .cost__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .cost__wrapper {
    padding-top: 145px;
    padding-bottom: 95px;
    width: 1200px;
  }

  .table__title {
    min-width: 235px;
  }

  .table__column {
    height: 59px;
  }
}
