.cost {
  width: 100%;
  background-color: #f2f2f2;
}

.cost__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 85px;
  overflow: hidden;
}

.table {
  margin-left: -540px;
  border-collapse: collapse;
}

.table__row {
  border-bottom: 2px solid #e5e5e5;
}

.table__row:first-child {
  border-bottom: none;
}

.table__title {
  min-width: 280px;
  //height: 95px;
  padding-top: 18px;
  padding-bottom: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-right: 2px solid #e5e5e5;
  background-color: #283645;

  &--hidden {
    opacity: 0;
    border-bottom: 2px solid #e5e5e5;
  }
}

.table__title:first-child {
  border-right: none;
}

.table__title-text {
  display: block;
}

.table__title-costs {
  display: block;
  font-size: 24px;
  font-weight: lighter;
}

.table__column {
  height: 59px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-left: 2px solid #e5e5e5;
  background-color: #ffffff;

  &--show {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.table__column:last-child {
  border-right: 2px solid #e5e5e5;
}

.table__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: magenta;
}

.cost__toggles {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 45px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .cost__wrapper {
    width: 660px;
    padding-top: 85px;
    padding-bottom: 68px;
  }

  .table {
    margin: 0 auto;
  }

  .table__title {
    min-width: 150px;
  }

  .table__column {
    height: 45px;

    &--show {
      justify-content: center;
    }
  }

  .table__column:first-child {
    padding-left: 15px;
    text-align: left;
  }

  .table__text {
    display: none;
  }

  .cost__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .cost__wrapper {
    padding-top: 145px;
    padding-bottom: 95px;
    width: 1200px;
  }

  .table__title {
    min-width: 235px;
  }

  .table__column {
    height: 59px;
  }
}
