.description {
  background-color: #ffffff;
}

.description__wrapper {
  margin: 0;
  padding: 44px 0 25px 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-text-color;
  box-sizing: border-box;

  span {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .description__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 91px;
    font-size: 18px;

    span {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .description__wrapper {
    padding-left: 84px;
    padding-right: 70px;
    padding-top: 92px;

    span {
      display: inline;
    }
  }
}
