.effect {
  background-color: #ffffff;
  display: none;
}

.effect__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.effect__text {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $main-text-color;
}

@media (min-width: $tablet-width) {
  .effect {
    display: block;
  }

  .effect__wrapper {
    display: flex;
  }

  .effect__timer-wrapper {
    min-width: 300px;
  }

  .effect__timer {
    margin: 0;
    padding-top: 116px;
    padding-left: 64px;
    padding-bottom: 40px;
    font-size: 96px;
    line-height: 186px;
    color: $main-description-color;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 202px 202px, 239px 276px;
    background-position: 19px 113px, 0 57px;
    box-sizing: border-box;
  }

  .effect__content {
    margin-left: 10px;
    padding-top: 95px;
    padding-bottom: 100px;
  }

  .effect__know {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: $link-text-color;
  }

  .effect__title,
  .effect__text {
    text-align: left;
  }

  .effect__title {
    font-size: 30px;
    line-height: 36px;

    span {
      display: block;
    }
  }

  .effect__text {
    margin-top: 10px;
  }

  .effect__break-second {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    background-color: #f2f2f2;
  }

  .effect__timer-wrapper {
    min-width: 360px;
  }

  .effect__timer {
    margin: 0;
    padding-top: 102px;
    padding-left: 80px;
    padding-bottom: 65px;
    font-size: 120px;
    line-height: 186px;
    color: $main-description-color;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 253px 253px, 299px 345px;
    background-position: 24px 75px, 0 5px;
    box-sizing: border-box;
  }

  .effect__content {
    margin: 0 auto;
    margin-left: 5px;
    padding-top: 100px;
    padding-bottom: 115px;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .effect__title {
    font-size: 30px;
    line-height: 30px;

    span {
      display: inline-block;
    }
  }

  .effect__text {
    margin-top: 25px;
    font-size: 18px;
    line-height: 30px;
  }

  .effect__break-first {
    display: none;
  }

  .effect__break-second {
    display: inline;
  }

  .effect__know {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}
