.footer {
  background-color: #ffffff;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }
}

.footer__img-wrapper {
  text-align: center;
  padding-top: 40px;
}

.footer__socials {
  padding-top: 40px;
}

.footer__socials-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright-text {
  font-size: 14px;
  line-height: 18px;
  color: $main-text-color;
}

.footer__copyright-link {
  margin-left: 15px;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    width: 660px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;

    &--hidden {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 1200px;
    padding: 0 120px;
  }
}
