.form__wrapper {
  display: flex;
  flex-direction: column;
}

.form__description {
  order: 1;
}

.form__personal {
  order: 2;
}

.form__achievements {
  order: 3;
}

.form__user-contacts {
  order: 4;
}

.form__applets {
  order: 5;
}

.form__area {
  order: 6;
}

.form__send {
  order: 7;
}

@media (min-width: $tablet-width) {
  .form__achievements {
    order: 5;
  }

  .form__applets {
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
