.form__button-wrapper {
  padding-top: 8px;
  //text-align: center;
  background-color: #ffffff;
}

.form-button {
  display: inline-block;
  padding: 25px 46px 25px 46px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
