.form-applets {
  padding: 40px 20px;
  background-color: #f2f2f2;
}

.form-applets__description {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: $main-description-color;
}

.form-applets__label-wrapper {
  margin-top: 35px;
}
