.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 395px;
  background-size: 320px 395px;
  //background-clip: content-box;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .header {
    background-image: url("/img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 240px;
    background-size: 660px 853px;
    background-clip: content-box;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-image: url("/img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1200px 853px;
  }
}
