.info {
  margin: 0 auto;
}

.info__title {
  margin: 0;
  padding: 30px 20px 83px 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
  letter-spacing: -0.5px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .info {
    //width: 660px;
  }

  .info__title {
    padding-top: 68px;
    padding-bottom: 140px;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -1px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    //width: 1200px;
  }

  .info__title {
    padding-top: 75px;
    padding-bottom: 145px;
    font-size: 50px;
    line-height: 55px;
  }
}
