.information {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.information__description-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.information__description {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
  font-weight: lighter;
  line-height: 24px;
  text-align: center;
  color: $main-text-color;
}

.information__list {
  margin: 0;
  padding-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 320px;
  list-style-type: none;
  background-image: url("/img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom -40px center;
  box-sizing: border-box;
}

.information__item {
  margin-top: 40px;

  &--hidden {
    display: none;
  }
}

.information__effect {
  &--hidden {
    display: none;
  }
}

.information__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.information__text {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $main-text-color;
}

.information__img-container {
  padding-top: 40px;
  font-size: 0;
  text-align: center;
  //background-color: #f2f2f2;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .information {
    width: 660px;
  }

  .information__list {
    margin: 0;
    padding-top: 45px;
    padding-left: 310px;
    padding-right: 20px;
    padding-bottom: 40px;
    list-style-type: none;
    background-image: url("/img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 268px 547px;
    background-position: bottom -65px left 20px;
    box-sizing: border-box;
  }

  .information__effect {
    padding-left: 330px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 20px;
    background-color: #ffffff;

    &--hidden {
      display: block;
    }

    .information__title,
    .information__text {
      text-align: left;
    }

    .information__know {
      display: inline-block;
      margin-top: 20px;
      font-size: 14px;
      line-height: 24px;
      color: $link-text-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .information {
    width: 1200px;
  }

  .information__list {
    width: 940px;
    margin: 0 auto;
    padding-top: 45px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 40px;
    list-style-type: none;
    background-image: none;
    box-sizing: border-box;
  }

  .information__item {
    &--hidden {
      display: block;
    }
  }

  .information__effect {
    width: 940px;
    margin: 0 auto;
    padding-left: 340px;
    padding-top: 100px;
    padding-bottom: 115px;
    padding-right: 120px;
    box-sizing: border-box;
    background-color: #f2f2f2;

    &--hidden {
      display: block;
    }

    .information__title,
    .information__text {
      text-align: left;
    }
  }
}
