.information__text-wrapper {
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 45px;
  padding-bottom: 35px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.information__text {
  margin: 0;
  font-size: 24px;
  font-weight: lighter;
  line-height: 24px;
  text-align: center;
  color: #283645;
  &--margin {
    margin-top: 40px;
  }
}

.information__article-wrapper {
  padding-top: 85px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.information__article {
  &--margin {
    margin-top: 40px;
  }
}

.information__article__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.information__article__text {
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}

.information__img-container {
  padding-top: 45px;
  font-size: 0;
  text-align: center;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
