.info {
  background-color: #283645;
}

.info__title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 85px;
  font-size: 24px;
  font-weight: lighter;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -60px;
}
