.information {
  background-color: #f2f2f2;
}

.information__description {
  padding-top: 41px;
  //padding-bottom: 35px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.information__description-text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
  text-align: center;
  color: $main-text-color;
}

.information__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.information__text {
  margin: 0;
  margin-top: 13px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $main-text-color;
}

.information__list {
  margin: 0;
  padding-top: 85px;
  padding-bottom: 285px;
  padding-left: 0;
  background-image: url("/img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom -40px center;
  list-style-type: none;
  box-sizing: border-box;
}

.information__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .information__description {
    padding-top: 40px;
  }

  .information__description-text {
    padding-top: 0;
    font-size: 40px;
    line-height: 50px;

    span {
      display: block;
    }
  }

  .information__list {
    margin: 0;
    padding-top: 45px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 310px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 268px 547px;
    background-position: bottom -65px left 20px;
    list-style-type: none;
    box-sizing: border-box;
  }

  .information__title,
  .information__text {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .information__description-text {
    font-size: 50px;
  }

  .information__list {
    width: 940px;
    margin: 0 auto;
    padding-top: 45px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 40px;
    list-style-type: none;
    background-image: none;
    box-sizing: border-box;
  }
}
