.link {
  display: inline-block;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50px;
  box-sizing: border-box;
}

.link__send {
  display: block;
  margin: 0 auto;
  padding-left: 88px;
  padding-right: 88px;
  outline: none;
  color: $link-text-color;
  border-color: $link-text-color;
  background-color: #f2f2f2;

  &:hover {
    color: #ffffff;
    background-color: #d22856;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.link__cancel {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  padding-left: 88px;
  padding-right: 88px;
  outline: none;
  background-color: #f2f2f2;
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);

  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(181, 185, 190, 1);
    border-color: rgba(181, 185, 190, 1);
  }
}


@media (min-width: $tablet-width) {
  .link {
    padding-left: 45px;
    padding-right: 45px;
  }

  .link__cancel {
    margin-top: 27px;
  }
}

@media (min-width: $desktop-width) {
  .link {
    padding-left: 39px;
    padding-right: 39px;
    font-size: 18px;
    line-height: 18px;
  }
}
