.personal {
  background-color: #ffffff;
  box-sizing: border-box;
}

.personal__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 9px;
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.personal__label {
  display: block;
  margin-top: 14px;
}

.personal__label:first-child {
  margin-top: 0;
}

.personal__acronym {
  display: block;
  padding: 0 22px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $main-description-color;
}

@media (min-width: $tablet-width) {
  .personal__wrapper {
    width: 660px;
    padding-top: 46px;
  }

  .personal__label {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }

  .personal__acronym {
    padding-left: 0;
    padding-right: 19px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .personal {
    width: 470px;
    margin-top: 13px;
  }

  .personal__wrapper {
    width: auto;
    padding-left: 10px;
    padding-right: 26px;
  }
}
