.required {
  padding-top: 35px;
  background-color: #ffffff;
}

.required__description {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $main-text-color;

  span {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .required {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .required__description {
    letter-spacing: 0.1px;
    span {
      display: inline;
    }
  }
}
