.reviews {
  background-color: #ffffff;
  position: relative;
}

.reviews__wrapper {
  padding-top: 42px;
  padding-bottom: 45px;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__button-wrapper {
  display: none;
}

.reviews__item {
  list-style-type: none;

  &--hidden {
    display: none;
  }
}

.reviews__name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  span {
    display: none;
  }
}

.reviews__comment {
  margin: 0;
  padding-top: 12px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-text-color;
}

.reviews__toggles {
  margin: 0;
  padding-top: 36px;
  text-align: center;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    padding-top: 13px;
    padding-bottom: 25px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;

    &--hidden {
      display: none;
    }
  }

  .reviews__name {
    padding-top: 35px;
    font-size: 20px;
    line-height: 30px;

    span {
      display: block;
      font-size: 14px;
      font-weight: normal;
      line-height: 33px;
    }
  }

  .reviews__comment {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__toggles {
    padding-top: 36px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    padding-top: 130px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 65px;
  }

  .reviews__list {
    width: 690px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .reviews__button-wrapper {
    display: block;
    padding-top: 81px;
  }

  .reviews__button {
    padding: 0;
    display: flex;
    border: none;
    background: transparent;
  }

  .reviews__name {
    padding-top: 32px;
    font-size: 24px;
    line-height: 37px;

    span {
      font-size: 18px;
    }
  }

  .reviews__toggles {
    display: none;
  }
}
