.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 45px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__item {
  padding-top: 50px;
  list-style-type: none;
}

.reviews__name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.reviews__comment {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-text-color;
}

.reviews__toggles {
  margin: 0;
  margin-top: 35px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: 1200px;
  }
}
