.reviews {
  background-color: #ffffff;
}

.reviews__wrapper {
  padding-top: 44px;
  padding-bottom: 45px;
}

.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__item {
  list-style-type: none;

  &--hidden {
    display: none;
  }
}

.reviews__name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  span {
    display: none;
  }
}

.reviews__comment {
  margin: 0;
  padding-top: 12px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-text-color;
}

.reviews__toggles {
  margin: 0;
  padding-top: 23px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    //width: 660px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .reviews__name {
    padding-top: 35px;
    font-size: 20px;
    line-height: 30px;

    span {
      display: block;
      font-size: 14px;
      font-weight: normal;
      line-height: 30px;
    }
  }

  .reviews__comment {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    //width: 1200px;
  }

  .reviews__name {
    font-size: 24px;
  }
}
