.send {
  background-color: #ffffff;
}

.send__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@media(min-width: $tablet-width) {
  .send__wrapper {
    width: 660px;
    font-size: 18px;
  }
}

@media(min-width: $desktop-width) {
  .send__wrapper {
    width: 960px;
  }
}
