/*Пока ничего нет*/
.slider-button {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-right: 14px;
  padding: 0;
  border: none;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  };

  &--active {
    //border: 3px solid #000000;
    box-shadow: 0 0 0px 3px #000000;
  }
}
