.top-menu__list {
  margin: 0;
  padding: 0;
}

.top-menu__item {
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
  background-color: #283645;
  box-sizing: border-box;
}

.top-menu__link {
  display: block;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
