.top-menu {
  position: relative;
  min-height: 68px;
  background-color: transparent;
}

.top-menu-button {
  position: absolute;
  top: 18px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.top-menu__list {
  margin: 0;
  padding: 0;
}

.top-menu__item {
  vertical-align: middle;
  list-style-type: none;
  background-color: #283645;
  border-bottom: 1px solid #010101;
  box-shadow: inset 0 1px 1px 0 rgba(72, 84, 97, 1);
}


.top-menu__item:hover {
  box-shadow: none;
}

.top-menu__item:active {
  box-shadow: inset 0 2px 4px 0 rgba(72, 84, 97, 1);
}

.top-menu__svg-wrapper {
  padding: 23px 20px;
  font-size: 0;
  background-color: rgba(40, 54, 69, 0.5);
}

.top-menu__logo-link {
  display: inline-block;
  cursor: pointer;
  font-size: 0;
}

.top-menu__logo-link:hover path {
  fill: #d22856;
}

.top-menu__logo-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.top-menu__svg-tab {
  display: none;
}

.top-menu__svg-desk {
  display: none;
}

.top-menu__link {
  display: block;
  padding: 16px 20px;
  padding-top: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    color: $link-text-color;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (max-width: $mobile-tablet-width) {
  .top-menu--closed .top-menu__item {
    display: none;

    &--active {
      display: block;
    }
  }

  .top-menu--closed .top-menu-button::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }

  .top-menu--closed .top-menu-button:hover::before {
    background-color: rgba(210, 40, 86, 1);
    box-shadow: 0 8px 0 0 rgba(210, 40, 86, 1), 0 16px 0 0 rgba(210, 40, 86, 1);
  }

  .top-menu--closed .top-menu-button:active::before {
    background-color: rgba(210, 40, 86, 0.3);
    box-shadow: 0 8px 0 0 rgba(210, 40, 86, 0.3), 0 16px 0 0 rgba(210, 40, 86, 0.3);
  }

  .top-menu--opened .top-menu__svg-wrapper {
    background-color: #283645;
  }


  .top-menu--opened .top-menu-button {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: rgba(210, 40, 86, 1);
    }

    &:active::before,
    &:active::after {
      background-color: rgba(210, 40, 86, 0.3);
    }
  }

  .top-menu--nojs .top-menu__svg-wrapper {
    background-color: rgba(40, 54, 69, 1);
  }

  .top-menu--nojs .top-menu-button {
    display: none;
  }

  .top-menu--nojs .top-menu__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .top-menu__svg-wrapper {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  .top-menu__svg-mob {
    display: none;
  }

  .top-menu__svg-tab {
    display: block;
  }

  .top-menu-button {
    top: 45px;
  }
}

@media (min-width: $desktop-width) {
  .top-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .top-menu__wrapper {
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .top-menu__svg-wrapper {
    padding-left: 0;
    background-color: transparent;
  }

  .top-menu__list {
    width: 620px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-menu__item {
    border: none;
    box-shadow: none;
    color: #ffffff;
    background-color: transparent;
  }

  .top-menu__item:active {
    box-shadow: none;
  }

  .top-menu__link {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
    background-color: transparent;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .top-menu__link:hover {
    color: $link-text-color;

    &::after {
      position: absolute;
      top: 45px;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }
  }

  .top-menu__svg-tab {
    display: none;
  }

  .top-menu__svg-desk {
    display: block;
  }
}
