.users-photo {
  background-color: #ffffff;
}

.users-photo__title {
  margin: 0;
  padding: 50px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-text-color;
}

.user-photo__img-wrapper {
  font-size: 0;
  text-align: center;
}

.users-photo-wrapper {
  width: 320px;
  margin: 0 auto;
}

.user-photo__content {
  padding: 20px;
  background-color: #f2f2f2;
}

.user-photo__name,
.user-photo__comment {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: $main-text-color;
}

.user-photo__like {
  margin: 0;
  margin-top: 10px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-description-color;
}

@media (min-width: $tablet-width) {
  .users-photo-wrapper {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .users-photo-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
