.users-photo {
  background-color: #ffffff;
}

.users-photo__title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-text-color;
}

.user-photo__img-wrapper {
  font-size: 0;
  text-align: center;
}

.user-photo {
  margin-left: 20px;
  margin-right: 20px;
}

.user-photo__content {
  padding: 20px;
  background-color: #f2f2f2;
}

.user-photo__name,
.user-photo__comment {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: $main-text-color;
}

.user-photo__like {
  margin: 0;
  margin-top: 10px;
  padding-left: 30px;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-description-color;
}
