.user-contacts {
  background-color: #ffffff;
}

.user-contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 31px;
  padding-bottom: 27px;
  box-sizing: border-box;
}

.user-contacts__description {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $main-description-color;
  display: none;
}

.user-contacts__label {
  display: block;
  margin-bottom: 15px;
}

.user-contacts__input {
  margin-top: 5px;
}

.user-contacts__text {
  padding: 0 22px;
  font-size: 14px;
  line-height: 30px;
  color: $main-description-color;
  text-transform: uppercase;
}

.user-contacts__svg-wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-contacts {
    margin-top: 65px;
  }

  .user-contacts__wrapper {
    position: relative;
    width: 660px;
    padding-top: 0;
    padding-bottom: 43px;
    box-sizing: border-box;
  }

  .user-contacts__description {
    position: absolute;
    left: 30.2%;
    top: -14px;
    display: block;
    width: 260px;
    background-color: #ffffff;
  }

  .user-contacts__label-wrapper {
    padding-top: 45px;
    padding-left: 58px;
    padding-bottom: 0;
    border: 2px solid #e5e5e5;
  }

  .user-contacts__label {
    position: relative;
    width: 499px;
    margin-top: 0;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column-reverse;
  }

  .user-contacts__input {
    margin-top: 0;
  }

  .user-contacts__text {
    padding-left: 20px;
    margin-top: 0;
  }

  .user-contacts__svg-wrapper {
    position: absolute;
    right: 2px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 61px;
    background-color: #e5e5e5;
  }

  .user-contacts__svg-icon {
    fill: #d22856;
  }
}

@media (min-width: $desktop-width) {
  .user-contacts {
    margin-top: 0;
  }

  .user-contacts__wrapper {
    width: 940px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 14px;
    padding-bottom: 0;
  }

  .user-contacts__description {
    width: 260px;
    top: 0;
    left: 36%;
    text-align: center;
  }

  .user-contacts__label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 42px;
    padding-bottom: 13px;
    padding-right: 58px;
  }

  .user-contacts__label {
    width: 375px;
    margin: 0;
  }

  .user-contacts__input {
    margin-top: 0;
  }
}
