.user-contacts {
  background-color: #ffffff;
}

.user-contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 43px;
  box-sizing: border-box;
}

.user-contacts__description {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $main-description-color;
  display: none;
}

.user-contacts__label {
  display: block;
  margin-top: 17px;
}

.user-contacts__input {
  margin-top: 5px;
}

.user-contacts__text {
  padding: 0 22px;
  font-size: 14px;
  line-height: 30px;
  color: $main-description-color;
  text-transform: uppercase;
}

.user-contacts__svg-wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .user-contacts__wrapper {
    position: relative;
    width: 660px;
    padding-top: 9px;
    padding-bottom: 43px;
    box-sizing: border-box;
  }

  .user-contacts__description {
    position: absolute;
    left: 31%;
    top: -5px;
    display: block;
    width: 250px;
    background-color: #ffffff;
  }

  .user-contacts__label-wrapper {
    padding-top: 40px;
    padding-left: 58px;
    padding-bottom: 26px;
    border: 2px solid #e5e5e5;
  }

  .user-contacts__label {
    position: relative;
    width: 499px;
    margin-top: 24px;
    display: flex;
    flex-direction: column-reverse;
  }

  .user-contacts__label:first-child {
    margin-top: 0;
  }

  .user-contacts__text {
    padding-left: 20px;
    margin-top: 9px;
  }

  .user-contacts__svg-wrapper {
    position: absolute;
    right: 2px;
    bottom: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
  }

  .user-contacts__svg-icon {
    fill: #d22856;
  }
}

@media (min-width: $desktop-width) {
  .user-contacts__wrapper {
    width: 960px;
    padding-left: 9px;
    padding-right: 11px;
  }

  .user-contacts__description {
    left: 37%;
    top: -4px;
  }

  .user-contacts__label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 13px;
    padding-right: 58px;
  }

  .user-contacts__label {
    width: 375px;
    margin: 0;
  }
}
